.header {
    width: 100%;
    background-color: rgb(237, 173, 10);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    text-decoration: none;
    color: black;
}

.input {
    outline: none;
    padding: 10px 30px 10px 15px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 0px 4px black;
    width: 20%;
    min-width: 200px;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.home {
    text-align: center;
    padding: 50px 25px;
}

.homeTitle {
    font-size: 35px;
}

.homeTitle, .homeText, .homeInput {
    margin-bottom: 10px;
}

.textSelect {
    color: rgb(237, 173, 10);
}

.homeWelcomeImg {
    width: 16px;
    height: 16px;
}

.homeSubmit {
    outline: none;
    padding: 10px 30px;
    width: 20%;
    min-width: 200px;
    background-color: rgb(237, 173, 10);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.itemCard {
    display: flex;
    padding: 20px;
    width: 60%;
    justify-content: space-between;
}

.itemCard+.itemCard {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.itemCard_content {
    display: flex;

}

.itemCard_text {
    padding: 5px 20px;
}

.itemCard_image {
    width: 150px;
    height: 150px;
}

.itemCard_image_soldOut {
    filter: grayscale(100%);
}

.itemCard_name {
    font-size: 24px;
    margin-bottom: 10px;
}

.itemCard_ingredients {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    margin-bottom: 50px;
}

.itemCard_price {
    font-size: 20px;
}

.itemCard_price__soldOut {
    color: rgba(0, 0, 0, 0.4);
}

.itemCard_action {
    display: flex;
    align-items: flex-end;
}

.itemCard_button {
    padding: 15px 20px;
    outline: none;
    background-color: rgb(237, 173, 10);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    cursor: pointer;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.headerTitle+.headerTitle {
    margin-left: 10px;
}

.cart {
    margin: 0 auto;
    width: 50%;
    padding: 25px 10px;
}

.cart_back, .cart_title {
    margin-bottom: 20px;
}

.cart_back {
    color: blue;
    font-size: 20px;
    cursor: pointer;
}

.cart_title {
    font-size: 24px;
}

.cart_item, .cart_item_text, .cart_item_action {
    display: flex;
}

.cart_item {
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

.cart_item_text, .cart_item_action {
    gap: 15px;
    align-items: center;
    font-size: 24px;
}

.cart_button {
    cursor: pointer;
    padding: 15px 20px;
    outline: none;
    background-color: rgb(237, 173, 10);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    font-size: 24px;
}

.cart_button_white {
    background-color: white;
}

.cart_button+.cart_button {
    margin-left: 10px;
}

.cart_list {
    margin-bottom: 20px;
}

.cart_item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.newOrder {
    margin: 0 auto;
    width: 50%;
    padding: 25px 10px;
}
.newOrder_title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.newOrder_form_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.newOrder_item{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.newOrder_name{
    width: 30%;
}
.newOrder_input, .newOrder_item_content{
    width: 100%;
}

.newOrder_item_content{
    margin-bottom: 25px;
}
.newOrder_checkbox{
    margin-right: 10px;
}
.newOrder_checkboxText{
    display: inline-block;
}
.newOrder_button{
    padding: 15px 20px;
    outline: none;
    background-color: rgb(237, 173, 10);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    cursor: pointer;
    display: inline-block;
}